[tool.poetry]
name = "commanderbot-ext"
version = "0.4.0"
description = "A collection of cogs and extensions for discord.py bots."
authors = ["Arcensoth <arcensoth@gmail.com>"]
license = "MIT"
readme = 'README.md'
repository = "https://github.com/CommanderBot-Dev/commanderbot-ext"
homepage = "https://github.com/CommanderBot-Dev/commanderbot-ext"
keywords = ['discord', 'bot']

[tool.poetry.dependencies]
python = "^3.8"
commanderbot-lib = "^0.5.0"
"discord.py" = "^1.5.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
