[tool.poetry]
name = "commanderbot-ext"
version = "0.13.0"
description = "A collection of cogs and extensions for discord.py bots."
authors = ["Arcensoth <arcensoth@gmail.com>"]
license = "MIT"
readme = 'README.md'
repository = "https://github.com/CommanderBot-Dev/commanderbot-ext"
homepage = "https://github.com/CommanderBot-Dev/commanderbot-ext"
keywords = ['discord', 'bot']

[tool.poetry.dependencies]
python = "^3.8"
"discord.py" = "^1.7.1"
commanderbot = "^0.9.0"
SQLAlchemy = "^1.4.9"
aiosqlite = "^0.17.0"
lectern = ">=0.14.0"
beet = ">=0.32.1"
aiohttp = "^3.7.4"
PyYAML = "^5.4.1"

[tool.poetry.dev-dependencies]
black = "^21.5b0"
isort = "^5.8.0"
rope = "^0.19.0"

[tool.isort]
profile = "black"

[tool.pyright]
typeCheckingMode = "basic"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
